/* this is only of h1 tag  */


h1 {
    color: red;
    font-size: '20px';
    text-align: center;
    text-decoration-line: overline;
   
}

h2 {
    text-decoration-line: line-through;
}

body{
    /* Absolute Path
    background-image: url('https://i.pinimg.com/originals/69/0e/f5/690ef59d7ffade174cda54d75b578553.gif'); */

    /* Relative Path */
    background-image: url('butterfly.gif');
    /* this will not repeat the background */
    background-repeat: no-repeat;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    background-position: right top;
    /* background-position: left top; */
    background-attachment: scroll;
    background-attachment: fixed;


    

}